services/api/.env
infra/postgres/.env
!.env.example

.DS_Store
Thumbs.db
desktop.ini


__pycache__/
*.pyc
.ruff_cache/

.venv/
.claude/
.coverage
.pytest_cache/
data/
.mypy_cache/
.vscode/
node_modules
mypy.ini
.ruff.toml
setup.cfg
